@model Di2.Web.ViewModels.PriceLists.ViewModels.SingleViewModel
@{
    this.ViewData["Title"] = Model.Material + " " + Model.Supplier;
}
<h4>@Model.Material</h4>
<h4>@Model.Supplier</h4>
<h4>@Model.MinimumQuantityPerOrder</h4>
<h4>@Model.UnitPrice</h4>
